
@font-face {
  font-family: 'Jules Text';
  font-style: normal;
  font-weight: 900;
  src: url('./assets/fonts/JulesText-Black.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/JulesText-Black.woff') format('woff'),
    url('./assets/fonts/JulesText-Black.woff2') format('woff2'),
    url('./assets/fonts/JulesText-Black.ttf') format('truetype');
}


@font-face {
  font-family: 'Proxima Nova Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Proxima-Nova-Condensed-Regular.woff') format('woff');
}

// @font-face {
//   font-family: 'Proxima Nova alt';
//   font-style: normal;
//   font-weight: 400;
//   src: url('./assets/fonts/ProximaNovaA-Regular.woff') format('woff'),
//     url('./assets/fonts/ProximaNovaA-Regular.woff2') format('woff2'),
//     url('./assets/fonts/ProximaNovaA-Regular.ttf') format('truetype');
// }
